html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

*{
    padding:0;
    margin:0;
}
html{
    font-size:62.5%;
    
}

body{
    font-family: 'Pacifico',sans-serif;
    color:#ffff;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;

}
img{
    width:100%;  
    height:auto;
    display:block;
}
figure{
    margin:0;
}
h1{
    margin:0;
}
h2{
    margin:0;
}
p{  color:black;
    font-family: 'Catamaran';
    font-size: 2rem;
}
button{
    min-width:145px;
    min-height:45px;
    background-color:black;
    font-family: 'Catamaran';
    color: orange;
    font-size:18px;
}

.wrapper{
    
    width: 100%;
    margin: 0 auto;
}
/* header styles */
header{
    background-image: url(./assets/image-1.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    padding: 0px 0;
}

h1{ font-style: 'Pacifico';
    color:orange;
    margin:0;
    font-weight: 400;
    font-size: 7rem;
    float:left;
    width:400px;
    position: center;
} 
header nav{
    
    color:white;
    float:right; 
}

header nav i.fas{
    display:none;
}

.headerNavMob{display:none;

}

header h1{    color: orange;
    font-weight: 400;
    font-size: 125px;
     
    width: 328px;
    margin-right: 685px;
    margin-top: 140px;
}

header li{
    display: inline-block;
    margin:15px 10px;
}

header a{
     font-family: 'Catamaran';
    font-size:2.0rem;
    padding: 15px 30px;
      font: white;
    font-weight:700;
}

header a:hover,
header a:focus{
    border:3px solid #ffffff;
}
h1 p{float:left;

}
.logos{ max-width:30px;
        color:orange;
        float:right;
        margin-top:-115px;
    }
/* About Us */

  

  }
  
.AboutUs p{
       max-width:48vw;
       float:left;
   }  

.AboutUsImg img{ 
      width: 50vw;
      height:70vh;
      }
.AboutUsDesc{ 
    margin: 150px 0px 58px 98px;
    padding-left: 88px;
    padding-right: 190px;
}
.AboutUsDesc h2{  
    color:black;
    font-family:'Pacifico';
    font-size:35px;

  }

.AboutUsDesc p{
    font-size:1.8rem;
    width: 375px;
}
.AboutUsDesc button{
    font-family:'Catamaran';
    padding: 5px 0 5px 0;
margin-top:25px;
font-weight:700;
font-size:16px;
}
.AboutUsImg, .AboutUsDesc {
    float: left;
    width: calc(50) 
}
    
/* Our Mission */
.Mission{
    margin-top:58px;
}
h2{
    color:black;
    font-family:'Pacifico';
    font-size:50px;

  }


  .Mission h2{
       color:black;
    font-family:'Pacifico';
    font-size:50px;

  }
  .Mission img{ 
      width: 50vw;
      height:70vh;
      float:left;
      margin-top:-150px;
  }
   .Mission p{
       max-width:48vw;
       float:right;
   }

    

.MissionImg img{ 
      width: 49vw;
      height:70vh;
      }
.MissionDesc{ 
    margin: 150px 0px 58px 98px;
    padding-left: 88px;
    padding-right: 190px;
}
.MissionDesc h2{  
   color: black;
font-family: 'Pacifico';
font-size: 35px;
margin-right: 111px;
float: right;
  }

.MissionDesc p{
    font-size:1.8rem;
    width: 375px;
}
.MissionDesc button{
        font-family: 'Catamaran';
    padding: 5px 0 5px 0;
    margin-top: 145px;
    font-weight: 700;
    font-size: 16px;
    float: right;
    margin-right: -235px;
}
.MissionImg, .MissionUsDesc {
    float: left;
    width: calc(50) 
}


/* Meet */
.Meet{
    background-color: #f4f4f4;
    padding: 60px 0;
}
.MeetImg {
    padding: 23px 40px 0 0;
    float:left;

}
 
.Meet img{    
    max-height: 80%;
    max-width: 30%;
    display: block;
    margin-left: 165px;
}
.MeetDesc{
    float:left;
     
    margin: 11px 0 0 40px;
}
.MeetDesc h2{    color: black;
    font-family: 'Pacifico';
    font-size: 35px;
    float: left;
    margin-top: -340px;
    margin-left: 505px;
}
 

.MeetDesc p{
     
    color: black;
font-family: 'Catamaran';
font-size: 2rem;
float: right;
width: 50%;
margin-right: 230px;
margin-top: -260px;
}
.MeetDesc button.Read{
        min-width: 145px;
    min-height: 45px;
    background-color: black;
    font-family: 'Catamaran';
    color: orange;
    font-size: 18px;
    float: right;
    margin-right: 826px;
    margin-bottom: 40px;
    margin-top: -55px;
}
  

 


/* Contacts */

.contact{
background-image:url(./assets/image-5.jpg);
    width: 300px ;
    min-height: 100vh;
    min-width:98.8vw;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    padding: 0px 0; 
}  
.contact.Links.stuff{
    float:right;


}
.contact p{
     
    margin-left: 560px;
    float: left;
    margin-top: 299px;
    text-align: center;
}
 
 
 .contact ul li a{
    font-family: 'Catamaran';
    font-size: 30px;
    color:orange;
    float:left;
    text-align:center;

}
 .contact p i{
     color:white;
     width:100px;
     height:100px;
     float:center;
     font-size:50px;
 }

 .contact.stuff{
     width:300px;
     float:center;
     text-align:center;
 }
 
 .stuff nav ul li a{
     margin-right: 20px;
    margin-top: 386px;
 }


 /* The Gram */
.gallery.TheG{
    float:left;
    width: 100%;

}
.Gram .gallery img{
            float: left;
    width: 30%;
    padding-left: 90px;
} 
 
 
.Gram h2{
    color: black;
    font-family: 'Pacifico';
    font-size: 35px;
    text-align: center;
    float: left;
    margin: 65px;
        margin-left: 65px;
    margin-left: 680px;
}
 
.wrapper.clearfix .TheG {
  float: left;
  width: 100%;
  margin-bottom: 80px;
  padding-left: 66px;
  
}

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}







/* Info */

.Info{
        background-color: #4a4a4a;
        float:left;
        width:98.8vw;
    }



.Info ul li{
     display: inline-block;
   margin: 51px 145px;
}
 
.Info ul li a{
        color: white;
font-family: 'Catamaran';
font-size: 18px;
font-weight: 700;
margin-right: -70px;
margin-left: 34px;
    }

.ContactInfo{
 
    float: left;
width: 20%;
padding-bottom: 100px;
padding-left: 175px;}

.ContactInfo a,p {
    font-family:'Catamaran';
    font-size:20px;
    color:white;
}

.SubmitInfo{
    Float:left;
    width:80%;
}
.SubmitInfo h1{
    width:40px;
    padding-left: 500px;
}
.SubmitInfo p{
     
    padding-left: 500px;
}
.SubmitInfo .Subs .input{
    padding-left:500px;
    margin-top:75px;

}
 
 
    .Info h1{
        font-size:20px;
         
        margin: 40px 0 34px 0;
    text-transform: none;
    font-size: 20px;
    margin: 32px 445px 33px 0;
    text-transform: none;
}
  
.Info p{
 margin-right: 210px;
 
}

.Info input button{
    float:right;
}
input{
     
    min-width: 500px;
    min-height: 45px;
    margin-left: 500px;
    margin-top: 20px;
}

button.orangesub{
    background-color:orange;
    max-width:30px;
    color:#1a2022;
    max-height:10px;
    font-weight:600;
    font-size:13px;
}


 
.ContactInfoh1{
    margin-left:170px;
}
.ContactInfo h3 p{
    margin-left:70px;
}
.COntactInfo p{
    margin-left:20px;
}




footer{background-color:#1a2022
            
    }
    footer p{color:white;
    text-align:center;}


    @media (max-width: 480px) {
    
        header{
    background-image: url(./assets/image-1-mobile_2x.jpg);
    /* min-height: 100vh; */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    padding: 0px 0;
}
header nav ul li{display:none}

header nav{
    
    float:none;
}
header h1{
    text-align: center;
font-size: 90px;
margin-left: 38px;
}
header p{
    display:none;
}
.headerNavMob{
display:block;
     
}
header nav i.fas{
    display: block;
float: right;
font-size: 38px;
margin-top: -235px;
 
}

.AboutUsDesc h2{
        width: 160%;
    height: 100%;
    margin-top: -10px;
    font-size: 54px;
    text-align: center;
}
.AboutUsDesc p{
   
    width: 168%;
    height: 100%;
    margin-top: 50px;
    color: black;
    font-size: 33px;
}
.AboutUsImg img {
    
    width: 100vw;
    height: 70vh;
    margin-top: -100px;
}
 
.AboutUsDesc button {
    width: 99%;
    height: 100%;
    margin-top: 30px;
    font-size: 43px;
    text-align: center;
    margin-bottom: 67px;
}


.MissionDesc h2{
        width: 160%;
    height: 100%;
    margin-top: -10px;
    font-size: 100px;
    text-align: center;
}
.MissionDesc p{
   
    width: 168%;
    height: 100%;
    margin-top: 50px;
    color: black;
    font-size: 30px;
}
.MissionImg img {
    
    width: 100vw;
    height: 70vh;
    margin-top: -100px;
}
 
.Mission button {
    width: 194%;
    height: 100%;
    font-size: 40px;
    text-align: center;
    margin-top: 18px;
    margin-right: -52px;
    margin-bottom: 85px;
}


.MeetDesc h2{
            width: 16%;
    height: 100%;
    margin-top: 9px;
    font-size: 100px;
    text-align: center;
    margin-right: 461px;
    margin-left: -40px;
}

    .MeetDesc p{
   
  
    width: 39%;
    height: 100%;
    margin-top: 10px;
    color: black;
    font-size: 30px;
    margin-right: 568px;
}

.MeetImg img {
    
    
    min-width: 40vh;
    height: 230%;
    margin-top: -100px;
    margin-left: -23px;
}
 
.Meet button {
   
    min-width: 200px;
    min-height: 45px;
    background-color: black;
    font-family: 'Catamaran';
    color: orange;
    font-size: 55px;
    float: right;
    margin-right: -174px;
    margin-bottom: 40px;
    margin-top: -55px;
}
 




.Gram .gallery img {
    float: left;
    width: 49%;
    padding: 7px;
    margin-right: -9px;
}
.Gram h2 {
    color: black;
    font-family: 'Pacifico';
    font-size: 77px;
    text-align: center;
    float: left;
    margin: 65px;


    }
.SubmitInfo .Subs input{
  
    min-width: 394px;
    min-height: 45px;
    margin-left:auto;
    margin-top: 20px;
}
}
